<?xml version="1.0"?>

<configuration>
  <configSections>
    <sectionGroup name="userSettings"
                  type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Fomm.Properties.Settings"
               type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
               allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings"
                  type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Fomm.Properties.Settings"
               type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
               requirePermission="false" />
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <Fomm.Properties.Settings>
      <setting name="fallout3MasterListUpdateUrl" serializeAs="String">
        <value>http://better-oblivion-sorting-software.googlecode.com/svn/data/boss-fallout/masterlist.txt</value>
      </setting>
    </Fomm.Properties.Settings>
  </applicationSettings>
  <userSettings>
    <Fomm.Properties.Settings>
      <setting name="fallout3LastBSAUnpackPath" serializeAs="String">
        <value />
      </setting>
      <setting name="fallout3BSABrowserPanelSplit" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="LastBuildFOMODFromFolderPath" serializeAs="String">
        <value />
      </setting>
      <setting name="fallout3LaunchCommand" serializeAs="String">
        <value />
      </setting>
      <setting name="LastPFPPath" serializeAs="String">
        <value />
      </setting>
      <setting name="LastPFPSourcesPath" serializeAs="String">
        <value />
      </setting>
      <setting name="pfpOutputPath" serializeAs="String">
        <value />
      </setting>
      <setting name="fallout3LaunchCommandArgs" serializeAs="String">
        <value />
      </setting>
      <setting name="MainFormPanelSplit" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="fallout3ModDirectory" serializeAs="String">
        <value />
      </setting>
      <setting name="checkForNewModVersions" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="checkForNewModVersionsInitialized" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="nexusLoginKey" serializeAs="String">
        <value />
      </setting>
      <setting name="nexusUsername" serializeAs="String">
        <value />
      </setting>
      <setting name="PackageManagerPanelSplit" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="LastUpdateCheck" serializeAs="String">
        <value>2000-01-01</value>
      </setting>
      <setting name="fallout3IgnoreDLC" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SelectedAddFomodAction" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="pfpCompressionFormat" serializeAs="String">
        <value>SevenZip</value>
      </setting>
      <setting name="pfpCompressionLevel" serializeAs="String">
        <value>Ultra</value>
      </setting>
      <setting name="fomodCompressionLevel" serializeAs="String">
        <value>Ultra</value>
      </setting>
      <setting name="fomodCompressionFormat" serializeAs="String">
        <value>SevenZip</value>
      </setting>
      <setting name="PackageManagerShowsGroups" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DisableIPC" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="NoUACCheck" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="UseDocsFolder" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="fallout3WorkingDirectory" serializeAs="String">
        <value />
      </setting>
      <setting name="fallout3DoneSetup" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="fallout3InstallInfoDirectory" serializeAs="String">
        <value />
      </setting>
      <setting name="migratedFromPre0130" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="falloutNewVegasModDirectory" serializeAs="String">
        <value />
      </setting>
      <setting name="falloutNewVegasInstallInfoDirectory" serializeAs="String">
        <value />
      </setting>
      <setting name="falloutNewVegasWorkingDirectory" serializeAs="String">
        <value />
      </setting>
      <setting name="falloutNewVegasLaunchCommand" serializeAs="String">
        <value />
      </setting>
      <setting name="falloutNewVegasLaunchCommandArgs" serializeAs="String">
        <value />
      </setting>
      <setting name="falloutNewVegasDoneSetup" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="falloutNewVegasMasterListUpdateUrl" serializeAs="String">
        <value>http://better-oblivion-sorting-software.googlecode.com/svn/data/boss-fallout-nv/masterlist.txt</value>
      </setting>
      <setting name="rememberGameMode" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="settingsUpgraded" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="falloutNewVegasUnReadOnlySettingsFiles" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="falloutNewVegasAskAboutReadOnlySettingsFiles"
        serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="fallout3BoldifyESMs" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="falloutNewVegasBoldifyESMs" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="addMissingInfoToMods" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="addMissingInfoToModsInitialized" serializeAs="String">
        <value>False</value>
      </setting>
    </Fomm.Properties.Settings>
  </userSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
